* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
header {
  padding: 36px;
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
}
main {
  padding: 0 16px;
}
.row {
  width: 100%;
}
.food {
  position: relative;
  background-color: #999;
  border: 1px solid black;
  margin: 8px;
}
.food-name {
  position: absolute;
  right: -1px;
  width: 140px;
  text-align: center;
  border: 1px solid black;
  top: -1px;
  font-size: 1.25em;
  font-weight: bold;
  padding: 4px 0;
}
#food-1 {
  background-color: rgb(213, 152, 152);
}
#food-2 {
  background-color: rgb(193, 69, 67);
  color: white;
}
#food-3 {
  background-color: rgb(229, 209, 152);
}
.food > p {
  padding: 28px 12px 0 12px;
}
@media (min-width: 992px) {
  .col-md-4 {
    width: 33%;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
    float: left;
  }
}